@model SweetStack.Models.TestRun

@{
    ViewBag.Title = "Details";
}

<h1><span>SweetTest</span> Details</h1>
<h2>Run <small>@Model.Timestamp.ToString("HH:mm, dddd dd MMMM yyyy")</small></h2>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            @Html.ActionLink("Edit", "Edit", new { controller = "Tests", action = "Edit", id = Model.TestId })
            <pre>@Model.SweetStackCode</pre>
        </div>
        <h3>Screenshots <small>(A-Z)</small></h3>
        <div class="row">
            @foreach (var img in Model.Screenshots) // Note that screenshots come out last-first
            {
                <div class="col-md-3">
                    <a href="@img.Value" data-lightbox="results">
                        <small>@img.Key</small><br />
                        <img src="/Img/Thumbnail/?path=@img.Value" alt="@img.Key" class="img-responsive" />
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h4>Output</h4>
        <table class="table table-responsive">
            @foreach (var result in Model.FormattedResults)
            {
                if (result.Status == SweetStack.DomainObjects.FormattedTestMessage.StatusTypes.Pass)
                {
                    <tr class="alert alert-success">
                        <td>
                            @Html.Raw(result.Message)
                        </td>
                    </tr>
                }
                else if (result.Status == SweetStack.DomainObjects.FormattedTestMessage.StatusTypes.Fail)
                {
                    <tr class="alert alert-danger">
                        <td>
                            <strong>@Html.Raw(result.Message)</strong>
                        </td>
                    </tr>
                }
                else if (result.Status == SweetStack.DomainObjects.FormattedTestMessage.StatusTypes.Information)
                {
                    <tr class="alert alert-info">
                        <td>@Html.Raw(result.Message)</td>
                    </tr>
                }
                else
                {
                    <tr class="alert alert-warning">
                        <td>
                            @Html.Raw(result.Message)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
